html {
  background: $black;
}

body {
  color: $white;
}

.navbar-container {
  background-color: $white;
}

.page-container {
  padding-top: 20px;
}

.white-text {
  color: $white;
}
.red-text {
  color: red;
}
.blue-text {
  color: $diablo_blue;
}
.gold-text {
  color: $diablo_gold;
}
.orange-text {
  color: $diablo_orange;
}  

.dark-blue-text {
  color: $diablo_dark_blue;
}

.yellow-text {
  color: $diablo_yellow;
}

.green-text {
  color: $diablo_green;
}

.brown-text {
  color: $diablo_brown;
}

.dark-brown-text {
  color: $diablo_dark_brown;
}

.no-border-padding, .content table td.no-border-padding {
  padding-left: 0;
  padding-right: 0;
}

.is-bold {
  font-weight: bold;
}

.is-heavy {
  font-weight: 500;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align-start {
  align-items: start;
}

.item-column {
  width: 25%;
  min-width: 200px;
}

.item-image, figure.item-image {
  margin: 5px auto;

  img {
    width: auto;
  }
}