html {
  background: $black;
}

body {
  color: $white;
}

.navbar-container {
  background-color: $white;
}

.page-container {
  padding-top: 20px;
}

table td.bonuses-container {
  padding: 0.75em 1.5em;
}

.set-select-label {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 3em;
  color: white;
}

.set-bonuses {
  display: flex;
  flex-direction: column;
}

.white-text {
  color: $white;
}
.red-text {
  color: red;
}
.blue-text {
  color: $diablo_blue;
}
.gold-text {
  color: $diablo_gold;
}
.orange-text {
  color: $diablo_orange;
}  

img.item-image, .item-image img {
  width: auto;
}

.no-border-padding, .content table td.no-border-padding {
  padding-left: 0;
  padding-right: 0;
}