html {
  background: $black;
}

body {
  color: $white;
}

.navbar-container {
  background-color: $white;
}

.page-container {
  padding-top: 20px;
}

.white-text {
  color: $white;
}
.red-text {
  color: red;
}
.blue-text {
  color: $diablo_blue;
}
.gold-text {
  color: $diablo_gold;
}
.orange-text {
  color: $diablo_orange;
}  

.no-border-padding, .content table td.no-border-padding {
  padding-left: 0;
  padding-right: 0;
}