table.diablo-table {
  width: 100%;

  tbody td.diablo-table-item.formula {
    width: 20%;

    .formula-container {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  }

  thead th.diablo-table-item, tbody td.diablo-table-item {
    color: $white;
    text-align: center;
  }

}
  
.diablo-table, .table.is-striped.diablo-table tbody tr:not(.is-selected):nth-child(even) {
  background-color: $black;
  color: $white;
}

.diablo-table, .table.is-striped.diablo-table.unique-items-table tbody tr:not(.is-selected):nth-child(even) {
  background-color: black;
  color: $white;
}

.diablo-table tr:hover, .table.is-striped.diablo-table tbody tr:not(.is-selected):nth-child(even):hover {
  background-color: green;
}

.diablo-filter-box {
  background-color: green;
  border: 1px solid $white;
  color: $white;
  margin: 1em;

  label {
    color: $white;
  }
}

.diablo-table-item figure.image {
  margin: 0 auto 0.5em;
}