table.diablo-table {
  width: 100%;

  tbody td.diablo-table-item.formula {
    width: 20%;
  }

  tbody td.diablo-table-item.runeword-specs {
    text-align: left;
  }

  .diablo-table-item figure.image:not(.item-image) {
    margin: 0 auto 0.5em;
  }
}
