.runeword-name-label {
  display: flex;
  .unlockable {
    margin-left: 0.5em;
    max-width: 106px;
  }
}

.runeword-name-container .runeword-stats {
  text-align: left;
  flex: 3;
}

.runeword-runes {
  justify-content: center;
  flex: 2;
  display: flex;
  .rune-object:not(:last-child) {
    margin-right: 1em;
  }
}

@media screen and (max-width: 1215px) {

  .runeword-name-container  {
    .runeword-stats {
      order: 2;
    }
    .runeword-runes {
      order: 1;
    }
  }
  
}

@media screen and (max-width: 768px) {

  .runeword-name-container .runeword-name-label {
    flex-direction: column;
    .runeword-name {
      order: 2;
    }
    .unlockable {
      margin-left: 0;
      order: 1;
      width: 65%;
      margin-bottom: 5px;
    }
  }
};