@import './variables.scss';

.unique-items-table {
  background-color: black;
}

.unique-item {
  display: flex;
  flex-direction: column;

  .item-name {
    order: 1;
  }
  .item-image,
  figure {
    order: 2;
  }
  &:hover {
    color: $white;
  }
}

img.item-image,
.item-image img {
  width: auto;
}
