$diablo_blue: #6699FF;
$diablo_gold: #AA8A28;
$diablo_orange: #FF8000;
$diablo_dark_blue: #008080;
$diablo_yellow: #FFFF00;
$diablo_green: #00ff00;
$diablo_brown: #9d8e62;
$diablo_dark_brown: #999966;