.home-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vh;
    padding-top: 25px;
}

.home-container .images {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;    
}

.home-container .images.logo {
    justify-content: center;
}