html {
  background: #040404;
}

body {
  color: #fff;
}

.navbar-container {
  background-color: white;
}

.page-container {
  padding-top: 20px;
}

.diablo-table, .table.is-striped.diablo-table tbody tr:not(.is-selected):nth-child(even) {
  background-color: #040404;
  color: white;
}

.diablo-table tr:hover, .table.is-striped.diablo-table tbody tr:not(.is-selected):nth-child(even):hover {
  background-color: green;
}

.diablo-table thead th.diablo-table-item, .diablo-table tbody td.diablo-table-item {
  color: white;
  text-align: center;
}

.diablo-filter-box {
  background-color: green;
  border: 1px solid white;
  color: white;
  margin: 1em;
}

.diablo-filter-box label {
  color: white;
}

.cube-recipe {
  display: flex;
  justify-content: space-evenly;
}

.diablo-table-item figure.image {
  margin: 0 auto 0.5em;
}

.cube-recipe .cube-item figure.image:first-child, .cube-recipe .cube-item figure.image:last-child {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.cube-recipe .cube-item.gem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}

.cube-recipe .cube-item.gem .gem-figure.image {
  align-self: center;
}